*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color:royalblue;
}


h1{
    font-family: 'Shadows Into Light';
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 100px;
    color: black;
}

.logo{
    margin-top: -20%;
    margin-left: 90%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

#map{
    margin-left: 15%;
    margin-bottom: 3%;
    height: 50vh;
    width: 150vh;
    border: 2px solid black;
}

h3{
    margin-left: 2%;
    margin-top: 2%;
    font-family: monospace;
    font-style: oblique;
    font-size: 20px;
    color: black;

}

#lugar{
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 20px;
    border: 1px solid black;
    
}

h4{
    margin-left: 2%;
    margin-top: 2%;
    font-family: monospace;
    font-style: oblique;
    font-size: 20px;
    color: black;

}

#elem{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border-style: inset;
}